
@import "row2.css";
@import "footer.css"; /* Using a string */
@import "row3.css";
@import "six_seven.css";


html {
    color: white;
    font-family: "BMW Type Global Regular"; 
    color: rgb(38, 38, 38);
}



.light_background {
    color: black;
}

