

.content_row {
    padding: 50px 100px;
    display: flex;
}

.img {
    width: 42vw;
    margin: 10px;
}

.img img {
    width: 100%;
    height: auto;
}


.content {
    min-width: 42vw;
    display: flex;
    margin: 10px;
}

